<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>SimpleCounterServlet</servlet-name>
        <servlet-class>servlets.training.SimpleCounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCounterServlet</servlet-name>
        <url-pattern>/SimpleCounterServlet-1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>servlets.training.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ParameterServlet</servlet-name>
        <servlet-class>servlets.training.ParameterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParameterServlet</servlet-name>
        <url-pattern>/ParameterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DispatchDestination</servlet-name>
        <servlet-class>servlets.training.DispatchDestination</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchDestination</servlet-name>
        <url-pattern>/DispatchDestination</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ParamTable</servlet-name>
        <servlet-class>servlets.training.ParamTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParamTable</servlet-name>
        <url-pattern>/ParamTable</url-pattern>
    </servlet-mapping>

    <security-role>
        <role-name>student</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>random</web-resource-name>
            <url-pattern>/FirstServlet</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>student</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <!-- Security roles used by this web application -->
</web-app>